body{
  font-family:'Montserrat-black';

}

#title{
  background-color: #ff4c68;
  color:white;
}

h1{

  font-size: 3rem;
  line-height: 1.5;
}

h2{
  font-weight: bold;
  line-height:1.5;
}

h3{
  font-size:1.5rem;
}

.big-heading{
font-family:"Montserrat-Black";
font-size:3.5rem;
line-height:1.5;
}

p{
  color:#8f8f8f;
}
 h1,h2, h3, h4, h5,h6{
   font-family:"Montserrat-Bold";

 }
.container-fluid{
  padding:3% 15%;
}
.navbar-brand{
  font-family:'Ubuntu';
  font-size: 2.5rem;
  font-weight: bold;
}
.navbar{
  padding:0 0 4.5rem;
}
.nav-item{
  padding:0 18px;
}
.nav-link{
  font-size:1.2rem;
  font-family:'Montserrat-light';
}
.download-button{
  margin:5% 3% 5% 0;
}
.title-image{
  width: 25%;
  transform:rotate(25deg);
  position: absolute;
  left:58%;
  top:10%;
  margin:2%;
  padding:3% 3%;
}

#features{
  padding:10% 15%;
  background-color: white;
  position: relative;
  z-index:1;
}

.icon{
  padding-bottom: 1rem;
  color:#FE7E6D;s
}
.icon:hover{
  color:#ff4c68;
}
#testimonials{
  background-color:#FE7E6D;
  text-align: center;
  color:white;
}

.carousel-item{
  padding:7% 15%;
}
.icon-row{
  text-align: center;
}

.testimonal-image{
  width:10%;
 border-radius: 100%;
 margin:20px;
}
#press{
  background-color: #FE7E6D;
  text-align: center;
padding-bottom:20px;
}
.companies{
  width:15%;
  margin:20px 20px 50px;
}
.card{
  width:70%;
}

/*pricing*/

#pricing{
  padding:100px;
  text-align: center;
}

.pricing-col{
  margin:3% 0;
}


@media(max-width:1028px)
{
  #title{
    text-align: center;
  }
  .title-image{
    position: static;
    transform:rotate(0);
    width:75%;
  }
}


#cta{
  background-color:#ff4c68;
  padding:5% 5%;
  font-family: 'Montserrat-black';
  text-align:center;
  color:white;
}
.cta-heading{
  font-size: 2.5rem;
}
#footer{
  padding:7% 15%;
  text-align: center;
}
.yo{
  margin:20px 10px;
}
